name: Ruby

on: [push,pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: 2.7.5
    - name: Install
      run: |
        gem install bundler -v 2.2.28
        bundle install
    - name: Type check
      run: bundle exec solargraph typecheck --level typed
    - name: Unit tests
      run: bundle exec rake
